## üßæ Ejercicios `while` con contexto de negocio

---

### 1Ô∏è‚É£ Calcular el total de ventas del d√≠a

#### Objetivo:
Un comercio registra sus ventas una a una. El programa debe permitir al usuario ingresar el valor de cada venta.  
El proceso termina cuando se introduce un valor de venta igual a `0`. Al final, se muestra el total acumulado.

In [10]:
total_ventas = 0

# Tu c√≥digo aqu√≠
venta = float(input("Introduce el valor de la venta (pon 0 para salir)"))
print(venta)
while venta!=0:
    total_ventas = total_ventas + venta #total_ventas += venta
    print(f"total_ventas = {total_ventas}")
    venta = float(input("Introduce el valor de la venta (pon 0 para salir)"))
    print(venta)

venta=7

50.0
total_ventas = 50.0
98.0
total_ventas = 148.0
50.7
total_ventas = 198.7
0.0

Otra forma de hacerlo

In [14]:
total_ventas = 0

while True:
    venta = int(input("Introduce el valor de la venta (pon 0 para salir)"))
    if venta == 0:
        print(venta)
        break
    else:
        print(f'Venta: {venta}')
        total_ventas = total_ventas + venta
        print(f'Total ventas: {total_ventas}')

Venta: 20
Total ventas: 20
Venta: 10
Total ventas: 30
Venta: 5
Total ventas: 35
0

Programa: C√≥mo crear una primera base de datos / tabla

In [ ]:
#Listas = Columnas de un excel

lista_num_cliente = []
lista_nombre = list() #Esto es lo mismo que  []
lista_nums =[]

while True:
    num_cliente = int(input('N√∫mero de cliente: '))
    nombre = str(input('Nombre de cliente: '))
    numero_telf = int(input('Num Telf: '))

    if len(str(numero_telf))==9:
        print('Escribiste el n√∫mero mal')
        numero_telf = int(input('Num Telf: '))
        if len(str(numero_telf))==9:
            print('Escribiste el n√∫mero mal')
            numero_telf = int(input('Num Telf: '))

    print(f"{num_cliente}, {nombre}, {numero_telf}")

    lista_num_cliente.append(num_cliente)
    lista_nombre.append(nombre)
    lista_nums.append(numero_telf)

    pregunta_salir = input('Presione 1 para continuar o 0 para salir:')
    if pregunta_salir == '1':
        print('Continuamos')
        
    elif pregunta_salir == '0':
        print('Gracias por todo')
        break

1, Paco, 626262626
Continuamos
2, Anytonio, 616616616
Continuamos
3, Julio, 636363636
Gracias por todo

In [17]:
lista_num_cliente

[1, 2, 3]

In [18]:
lista_nums

[626262626, 616616616, 636363636]

In [16]:
lista_nombre

['Paco', 'Anytonio', 'Julio']

In [19]:
import pandas as pd

df = pd.DataFrame()
df['Id_cliente'] = lista_num_cliente
df['nombres'] = lista_nombre
df['telefono'] = lista_nums

df

   Id_cliente   nombres   telefono
0           1      Paco  626262626
1           2  Anytonio  616616616
2           3     Julio  636363636

In [21]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip3.12 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import openpyxl

df.to_csv('Prueba.csv',encoding='latin-1')

df.to_excel()

In [ ]:
total_ventas

945820568.0

### 2Ô∏è‚É£ Registrar pagos hasta alcanzar una meta

#### Objetivo:
Una tienda necesita recaudar al menos **500 euros** en el d√≠a.  
Cada cliente paga una cantidad y se va sumando al total.  
El programa debe seguir pidiendo montos hasta que se alcance (o supere) la meta.  
Al final, muestra cu√°nto se recaud√≥ y cu√°ntos pagos fueron necesarios.

In [ ]:
total_recaudado = 0
pagos = 0
meta = 500

# Tu c√≥digo aqu√≠

### 3Ô∏è‚É£ Control de stock de productos
##### Objetivo:
Un sistema de inventario debe restar unidades del stock cada vez que hay una venta.
El stock inicial es 20. En cada iteraci√≥n, se ingresa cu√°ntas unidades se vendieron.
El bucle se detiene cuando no queda stock suficiente para cubrir la venta.

In [2]:
stock = 20

# Tu c√≥digo aqu√≠

### 4Ô∏è‚É£ Registrar empleados hasta llegar al l√≠mite
##### Objetivo:
Una empresa va registrando empleados nuevos. El sistema pide el nombre de cada uno.
Solo se pueden registrar hasta 10 empleados. Cuando se llega a ese n√∫mero, se detiene el registro y se imprime cu√°ntos se registraron en total.

In [ ]:
empleados_registrados = 0

# Tu c√≥digo aqu√≠